@import "scss/variables.scss";
@import "scss/mixins.scss";



main {
  display: flex;
  justify-content: center;
  align-content: center;
  //min-height: 90vh;
  overflow: hidden;
  flex: 1 0;
}

.nav-style {
  //align-self: flex-start;
  color: $bulma;
  z-index: 50;
  padding: 7px;
  height: 55px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(white, white);
  width: 100vw;
  border-radius: 0px;
  & li {
    display: inline;
    text-decoration: none;
    padding: 3px;
  }
  a{
    color: $bulma;//$primary-color;
  }
}
#top-nav  {
  position: fixed;
  top: 0; 
}
ul {
  display: inline;
  //align-content: center;
  text-decoration: none;
  padding: 10px;
}
#bottom-nav {
  position: fixed;
  bottom: 0;
}

.grower{
  flex-grow: 5;
  min-height: 5px;
}
.fix-top{
  flex: 0 0 55px;
}
.fix-bottom{
  flex: 0 0 55px;
}

.card {
  align-self: center;
  width: 300px;
  max-height: 270px;
  padding: 10px;
  border-radius: 10px;
  margin: 50px;
  z-index: 3;
}

.scope {
  position: absolute;
  top: 0;
  left:0;
  z-index: -4;
  /* display: flex;
  justify-content: center;
  align-content: center;  */
}
.welcome{
  position: absolute;
  top: 0;
  left: 0;
  //z-index: -1;
}
#welcome-card{
  align-self: center;
  justify-self: center;
}
.scopehidden {
  position: absolute;
  top: 0;
  left:0;
  z-index: -2;
  display: none;
}
.scopeCSS {
  position: absolute;
  top: 0;
  left:0;
  z-index: 10;
}
.camera {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
}
/* #scopecamdiv{
  position: absolute;
  top: 0;
  left: 0;
} */

.map-google {
  z-index: 10;
}

.profile-feed {
  width: 100vw;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 0 35px;
  //background: linear-gradient(top, to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 8%,rgba(255,255,255,0) 92%,rgba(255,255,255,1) 100%);
}
.scope-in-feed {
  align-self: center;
  margin: 10px;
}
.panorama-feed {
  object-fit: cover;
  width: 20vw;
  height: 20vw;
  align-content: center;
  border-radius: 10vw;
}
/* .switch-button-container{
  width: 100vw;
} */
.switch-button {
  position: absolute;
  top: 80px;
  right: 30px;
  z-index: 30;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.danger{
  color:hsl(348, 100%, 61%);
  a{
    color:hsl(348, 100%, 61%);
  }
}

.white{
  color: white;
  a{
    color: white;
  }
}

@media only screen and (max-width: 500px){
  .profile-feed {
    padding-top:120vw; 
    flex-direction: row;
    margin: 0 20px;
    overflow: scroll;
  }
  .panorama-feed {
    width: 80vw;
    height: 80vw;
    border-radius: 40vw;
  }
  
}