@import "scss/variables.scss"; 
@import "scss/mixins.scss"; 

.scope {
  position: absolute;
  top: 0;
  z-index: -2;
}
.scopehidden {
  position: absolute;
  top: 0;
  z-index: -2;
  display: none;
}
.scopeCSS{
  position: absolute;
  top: 0;
  z-index: 3;
}
.camera {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
}

.map-google{
  z-index: 10;
}

.nav-style{
  z-index: 5;
  display: flex
  & li{
    display: inline;
    text-decoration: none;
  }
}
li{
  display: inline;
  text-decoration: none;
  padding: 10px;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
