@import "scss/variables.scss";
@import "scss/mixins.scss";



main {
  display: flex;
  justify-content: center;
  align-content: center;
  //min-height: 90vh;
  overflow: hidden;
  flex: 1 0;
}

.nav-style {
  //align-self: flex-start;
  color: $bulma;
  z-index: 50;
  //padding: 7px;
  height: 56px;
  display: flex;
  align-content: center;
  justify-content: center;
  background-image: linear-gradient(white, white);
  width: 100vw;
  border-radius: 0px;
  & ul {
    //display: inline;
    //align-content: center;
    //text-decoration: none;
   //padding: 10px;
  }
  & li {
    display: inline;
    text-decoration: none;
    //padding: 0px 10px;
  }
  a{
    color: $bulma;//$primary-color;
  }
}
.nav-width{
  //max-width: 800px;
  //min-width: 400px;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.profile-pic{
  width: 32px;
  height: 32px;
  align-self: flex-end;
  margin: 15px 0 9px 0;
}

#top-nav  {
  position: fixed;
  top: 0; 
  padding: 0 30px;
}

#bottom-nav {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  height: 64px;
  a {
    display: block;
  }
}

.grower{
  flex-grow: 5;
  min-height: 5px;
}
.fix-top{
  flex: 0 0 56px;
}
.fix-bottom{
  flex: 0 0 56px;
}

.card {
  //min-height: 500px;
  align-self: center;
  //width: 300px;
  max-height: 270px;
  padding: 10px;
  border-radius: 10px;
  margin: 50px;
  z-index: 3;
}

.modal{
  margin: auto auto;
  padding: 10px;
  bottom: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 300px;
  z-index: 30;
}

.form-card {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 300px;
  max-height: 270px;
  padding: 10px;
  border-radius: 10px;
  margin: 50px;
  z-index: 3;
}

.text-on-scope{
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.scope {
  position: absolute;
  top: 0;
  left:0;
  z-index: -4;
  /* display: flex;
  justify-content: center;
  align-content: center;  */
}
.welcome{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#welcome-card{
  align-self: center;
  justify-self: center;
}
.scopehidden {
  position: absolute;
  top: 0;
  left:0;
  z-index: -2;
  display: none;
}
.scopeCSS {
  position: absolute;
  top: 0;
  left:0;
  z-index: 10;
}
.camera {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100vw;
  height: 100vh;
}
/* #scopecamdiv{
  position: absolute;
  top: 0;
  left: 0;
} */

.map-google {
  z-index: 10;
}

.switch-button {
  position: absolute;
  top: 80px;
  right: 30px;
  z-index: 30;
  margin: auto;
}

.likes-button{
  position: absolute;
  top: 80px;
  left: 30px;
  //margin: 0 auto;
  //align-self: center;
  z-index: 30;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.danger{
  color:hsl(348, 100%, 61%);
  a{
    color:hsl(348, 100%, 61%);
  }
}

.white{
  color: white;
  a{
    color: white;
  }
}
.home {
  display: flex;
}
.logo{
  height: 300px;
  align-self: center;
  justify-self: center;
  z-index: 10;
}
.feed-user{
  text-align: center;
  color: $bulma;
  margin-top: 15px;
  margin-bottom: 10px;
}

.profile-user{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 10px;
  color: $bulma;
  border-bottom: 1px dashed $bulma;
}
.profile-name{
  left: 10px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 30px;
  color: $bulma;
  font-size: 120%;
}
.follow-button{
  right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 10px;
}
.profile-feed {
  width: 100vw;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin: 0 35px;
}
.scope-in-feed {
  align-self: center;
  margin: 10px;
}
.panorama-feed {
  object-fit: cover;
  width: 20vw;
  height: 20vw;
  align-content: center;
  border-radius: 10vw;
}
.not-filled-explore{
  content: url("/explore.svg");
  width: 32px;
  height: 32px;
}
.filled-explore{
  content: url("/explore-active.svg");
}
.not-filled-feed{
  content: url("/feed.svg");
  width: 32px;
  height: 32px;
}
.filled-feed{
  content: url("/feed-active.svg");
}

.not-filled-add{
  content: url("/add.svg");
  width: 32px;
  height: 32px;
}

@media only screen and (max-width: 500px){
  .profile-feed {
    //padding-top:120vw; 
    //align-content: flex-start;
    flex-direction: row;
    margin: 0 20px;
    overflow: scroll;
  }
  .panorama-feed {
    width: 80vw;
    height: 80vw;
    border-radius: 40vw;
  }
}